.card{
  margin: 2% 2%;

margin-left:100px;

height:600px;
width:1200px;
}

.container{


}
.brand_box{
border-style:groove;
margin-left:10px;
border-radius:10px;
margin-top:50px;}
.ii{
margin-top:30px;
height:400px;
width:300px;
padding:8px;
}
.abc{
margin-top:70px;
}
h3{
margin-left:130px;
padding:25px;
color:green;}
.h{
font-color:red;
padding:10px;
font-size:30px;
padding:20px;}